.angular-google-map,
.angular-google-map-container {
  width: 100vw;
  height: 100vh;
}

#stationInfoPanel {
  position: absolute;
  top: 70px;
  right: 20px;
  left: 65%;
  display: inline-block;
}

.card-block {
  background-color: white;
}

.tall-block {
  max-height: 400px;
  overflow-x: auto;
}

#dropdownMenuLogin {
  padding: 12px;
  width: 450px;
}

.centered {
  position: absolute;
  left: 30%;
  text-align: center;
  margin: auto;
}
